<h1>編輯書本</h1>


<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @book do |form| %>
<%= form.label :title, "書名" %> 
<%= form.text_field :title%>

<%= form.label :content, "介紹" %> 
<%= form.text_area :content%>

<%= form.label :price, "價錢" %> 
<%= form.number_field :price %>

<%= form.submit "更新商品" %>
<%# <input type="submit" value="更新商品"> %>
<% end %>
